# Bases de datos

In [1]:
import pandas as pd
#import pandas_datareader.data as web
import numpy as np
import datetime
import matplotlib.pyplot as plt
import scipy.stats as st
%matplotlib inline
#pd.set_option('display.notebook_repr_html', True)
#pd.set_option('display.max_columns', 11)
#pd.set_option('display.max_rows', 10)
#pd.set_option('display.width', 78)
pd.set_option('precision', 3)
pd.options.display.float_format = '{:.4f}'.format

In [2]:
data=pd.read_excel('annual_generation_state.xls','TOTALES',index_col=0)
data=data.loc[data['GENERATION (Megawatthours)']>0,:]

In [3]:
years=np.unique(data.index)

In [92]:
states=np.unique(data['STATE'])
states

53

In [57]:
energies=np.unique(data['ENERGY SOURCE'])
energies

array(['Coal', 'Geothermal', 'Hydroelectric Conventional', 'Natural Gas',
       'Nuclear', 'Other', 'Other Biomass', 'Other Gases', 'Petroleum',
       'Pumped Storage', 'Solar Thermal and Photovoltaic', 'Wind',
       'Wood and Wood Derived Fuels'], dtype=object)

In [6]:
total_by_states=list(map(lambda s:list(map(lambda y:sum(data.loc[data['STATE']==states[s],'GENERATION (Megawatthours)'].loc[data.loc[data['STATE']==states[s],:].index==years[y]]),range(len(years)))),range(len(states))))

In [7]:
data_by_states=list(map(lambda e:data.loc[data['STATE']==states[e],:],range(len(states))))

In [8]:
data_by_states=list(map(lambda s:list(map(lambda y:(data.loc[data['STATE']==states[s],:].loc[data.loc[data['STATE']==states[s],:].index==years[y]]),range(len(years)))),range(len(states))))

In [9]:
#state,year
proportions_by_states=list(map(lambda s:list(map(lambda y:pd.concat([data_by_states[s][y],data_by_states[s][y]['GENERATION (Megawatthours)']/total_by_states[s][y]],axis=1),range(len(years)))),range(1,len(states)-1)))

In [94]:
#state,type of energy
df=list(map(lambda s:list(map(lambda e:pd.DataFrame(np.reshape((np.column_stack(list(map(lambda y:pd.DataFrame(np.zeros([1,4])) if (proportions_by_states[s][y].loc[proportions_by_states[s][y]['ENERGY SOURCE']==energies[e],:]).empty else proportions_by_states[s][y].loc[proportions_by_states[s][y]['ENERGY SOURCE']==energies[e],:],range(len(years)))))),(28,4))),range(len(energies)))),range(1,len(states)-2)))

In [132]:
pd.concat([df[0][0],(df[0][0][3]/df[0][0][3].shift(1)-1)*100],axis=1)

     0     1             2      3        3
0   AR  Coal 19207935.0000 0.4913      NaN
1   AR  Coal 19644712.0000 0.4832  -1.6298
2   AR  Coal 20093600.0000 0.5055   4.6144
3   AR  Coal 18091528.0000 0.4467 -11.6368
4   AR  Coal 19852118.0000 0.4723   5.7281
5   AR  Coal 21555436.0000 0.5136   8.7354
6   AR  Coal 24388417.0000 0.5298   3.1603
7   AR  Coal 22810370.0000 0.5047  -4.7321
8   AR  Coal 23180204.0000 0.5076   0.5716
9   AR  Coal 24668807.0000 0.5299   4.3905
10  AR  Coal 24167699.0000 0.5508   3.9487
11  AR  Coal 24764471.0000 0.5248  -4.7314
12  AR  Coal 23098370.0000 0.4851  -7.5498
13  AR  Coal 23504166.0000 0.4663  -3.8749
14  AR  Coal 25353563.0000 0.4882   4.6973
15  AR  Coal 23037144.0000 0.4820  -1.2789
16  AR  Coal 24183050.0000 0.4636  -3.8276
17  AR  Coal 25744180.0000 0.4715   1.7221
18  AR  Coal 26114654.0000 0.4744   0.6020
19  AR  Coal 25075250.0000 0.4364  -8.0029
20  AR  Coal 28152445.0000 0.4615   5.7510
21  AR  Coal 29418195.4500 0.4798   3.9731
22  AR  Coal 28430930.0000 0.4374  -8.8540
23  AR  Coal 31889234.5500 0.5286  20.8718
24  AR  Coal 33220754.7900 0.5394   2.0280
25  AR  Coal 21740033.0000 0.3913 -27.4532
26  AR  Coal 23800070.0000 0.3937   0.6271
27  AR  Coal 26285435.0000 0.4325   9.8426