# Bases de datos

In [141]:
import pandas as pd
#import pandas_datareader.data as web
import numpy as np
import datetime
import matplotlib.pyplot as plt
import scipy.stats as st
%matplotlib inline
#pd.set_option('display.notebook_repr_html', True)
#pd.set_option('display.max_columns', 11)
#pd.set_option('display.max_rows', 10)
#pd.set_option('display.width', 78)
pd.set_option('precision', 3)
pd.options.display.float_format = '{:.2f}'.format

In [124]:
data=pd.read_excel('annual_generation_state.xls','TOTALES',index_col=0)

In [125]:
years=np.unique(data.index)
years

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [126]:
states=np.unique(data['STATE'])

In [127]:
energies=np.unique(data['ENERGY SOURCE'])

In [128]:
total_by_states=list(map(lambda s:list(map(lambda y:sum(data.loc[data['STATE']==states[s],'GENERATION (Megawatthours)'].loc[data.loc[data['STATE']==states[s],:].index==years[y]]),range(len(years)))),range(len(states))))

In [129]:
data_by_states=list(map(lambda e:data.loc[data['STATE']==states[e],:],range(len(states))))

In [130]:
energies

array(['Coal', 'Geothermal', 'Hydroelectric Conventional', 'Natural Gas',
       'Nuclear', 'Other', 'Other Biomass', 'Other Gases', 'Petroleum',
       'Pumped Storage', 'Solar Thermal and Photovoltaic', 'Wind',
       'Wood and Wood Derived Fuels'], dtype=object)

In [131]:
data_by_states=list(map(lambda s:list(map(lambda y:(data.loc[data['STATE']==states[s],:].loc[data.loc[data['STATE']==states[s],:].index==years[y]]),range(len(years)))),range(len(states))))

In [133]:
#state,year
proportions_by_states=list(map(lambda s:list(map(lambda y:pd.concat([data_by_states[s][y],data_by_states[s][y]['GENERATION (Megawatthours)']/total_by_states[s][y]],axis=1),range(len(years)))),range(1,len(states)-1)))

In [118]:
proportions_by_states[0][]

YEAR
1990    0.091
1990    0.174
1990    0.619
1990    0.089
1990    0.000
1990    0.027
Name: GENERATION (Megawatthours), dtype: float64

In [138]:
proportions_by_states[1][1]

,STATE,ENERGY SOURCE,GENERATION (Megawatthours),GENERATION (Megawatthours)
YEAR,,,,
1991,AL,Coal,5.822e+07,6.558e-01
1991,AL,Hydroelectric Conventional,1.076e+07,1.212e-01
1991,AL,Natural Gas,1.222e+06,1.377e-02
1991,AL,Nuclear,1.587e+07,1.788e-01
1991,AL,Other Biomass,3.133e+04,3.529e-04
1991,AL,Other Gases,2.932e+05,3.302e-03
1991,AL,Petroleum,1.678e+05,1.890e-03
1991,AL,Wood and Wood Derived Fuels,2.217e+06,2.496e-02

In [139]:
?format